/* select all elements */
* {
  /* border: 1px dashed gray; */
}

/* Background spalva =============================================== */
body {
  background-color: rgb(230 214 214);
}

/* Antrastes =============================================== */

h2 {
  font-weight: normal;
  font-style: italic;
}

.image {
  width: 100%;
  height: 200px;
  /* background-color: white;
  background-image: url('small.jfif');
  background-repeat: no-repeat;
  background-position: center; */
  /* shorthand syntax */
  background: white url('small.jfif') no-repeat center;
  background-size: cover;
}
